.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Card Styles */
.card {
    width: 280px;
    height: 350px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.card-header1 {
    background-color: #E8EAC8;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    
}

.card-header2 {
    background-color: #E3BFBF;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-header3 {
    background-color: #BFDFE3;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-header4 {
    background-color: #D6BEE1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.card-body p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
    border: 1px solid #bbbbbb79;
    border-radius: 20px;
    font-family: 'Architects Daughter', cursive;
}

/* Buttons Positioned at Bottom */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 20px;
}

.sem-button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 7px 25px;
    width: 989x;
    height: 45px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.sem-button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.sem-button:focus-visible {
    outline-offset: 1px;

}

/* Responsive Layout */
@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}