@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+AU+VIC+WA+NT+Pre&family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar {
    background-color: #aca56b22;
    padding: 13px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.logo-text>a {
    margin-left: 8px;
    text-decoration: none;
    color: black;
}

.navbar-actions {
    display: flex;
    gap: 10px;
    margin-right: 2.5%;
}

.navbar-actions button {
    background: none;
    text-decoration: none;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.hero>h1 {
    font-family: "Edu AU VIC WA NT Pre", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    text-align: center;
    padding: 4rem 0;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #000000;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #656565;
}

.hoverbutton1 {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 7px 25px;
    width: 989x;
    height: 45px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.hoverbutton1>a {
    text-decoration: none;
}

.hoverbutton1>a>p {
    margin-top: 1.5em;
    color: black;
}

.hoverbutton1:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.hoverbutton1:focus-visible {
    outline-offset: 1px;
}

.hoverbutton2 {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 7px 25px;
    width: 989x;
    height: 45px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.hoverbutton2>a {
    text-decoration: none;

}

.hoverbutton2>a>p {
    margin-top: 0.9em;
    color: black;
}

.hoverbutton2:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.hoverbutton2:focus-visible {
    outline-offset: 1px;
}

.hoverbutton3 {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 7px 25px;
    width: 989x;
    height: 45px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.hoverbutton3>a {
    text-decoration: none;

}

.hoverbutton3>a>p {
    margin-top: 0.9em;
    color: black;
}

.hoverbutton3:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.hoverbutton3:focus-visible {
    outline-offset: 1px;
}


.hoverbutton4 {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 7px 25px;
    width: 989x;
    height: 45px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.hoverbutton4>a {
    text-decoration: none;

}

.hoverbutton4>a>p {
    margin-top: 0.9em;
    color: black;
}

.hoverbutton4:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.hoverbutton4:focus-visible {
    outline-offset: 1px;
}

.hoverbutton5 {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 7px 25px;
    width: 989x;
    height: 45px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.hoverbutton5>a {
    text-decoration: none;

}

.hoverbutton5>a>p {
    margin-top: 0.9em;
    color: black;
}

.hoverbutton5:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.hoverbutton5:focus-visible {
    outline-offset: 1px;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 4rem 0;
}

.card1 {
    background-color: #e8eac8;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card2 {
    background-color: #e3bfbf;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card3 {
    background-color: #bfdfe3;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card4 {
    background-color: #d6bee1;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card1,
.card2,
.card3,
.card4 h3 {
    font-family: 'Architects Daughter', cursive;
    color: #000000;
}

.card-btn {
    display: inline-block;
    background-color: #333333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card1>a {
    text-decoration: none;
    color: white;
}

.card2>a {
    text-decoration: none;
    color: white;
}

.card3>a {
    text-decoration: none;
    color: white;
}

.card4>a {
    text-decoration: none;
    color: white;
}

.card-btn:hover {
    background-color: #131212;
}

#main-content>h2 {
    font-family: 'Architects Daughter', cursive;

}

.perks-section {
    color: #000000;
    padding: 4rem 0;
    margin-top: 4rem;
}

.perks-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Architects Daughter', cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
}

.perks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    font-weight: 100;
    font-family: 'Architects Daughter', cursive;
}

.perk-card1 {
    background-color: rgba(98, 96, 96, 0.1);
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    transition: all .14s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perk-card1:hover{
    box-shadow: 4px 4px 0 #676767;
    transform: translate(+4px, +4px);
}

.perk-card2 {
    background-color: rgba(98, 96, 96, 0.1);
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    transition: all .14s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perk-card2:hover{
    box-shadow: 4px 4px 0 #676767;
    transform: translate(+4px, -4px);
}

.perk-card3 {
    background-color: rgba(98, 96, 96, 0.1);
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    transition: all .14s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perk-card3:hover{
    box-shadow: 4px 4px 0 #676767;
    transform: translate(-4px, +4px);
}

.perk-card4{
    background-color: rgba(98, 96, 96, 0.1);
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    transition: all .14s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perk-card4:hover{
    box-shadow: 4px 4px 0 #676767;
    transform: translate(+4px, -4px);
}

footer {
    background-color: #b5b5b536;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
}

footer>p {
    margin-bottom: 0;
}